<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Price Estimator by PPaez</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-icon"></span> Please fill in the following information to obtain an estimate: </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> <%= user.local.email %> </h3>

                    <p>
                        <strong>Welcome!</strong><br>
                    </p>
                    <p>
                    <input id="testbutton" type="button" value="Get me the news!" />
                    </p>
            </div>
        </div>

    </div>
    <div>
    <div class="col-sm-6">
        <div class="well" style="padding:5px;display:table;">
            
            <h1 id="results">Estimated Price results: </h1>
            <table id="tblProgs1" class="table table-bordered table-hover table-striped dataTable">
                <thead>
                    <tr>
                        
                </tr>
                </thead>
                <tbody>

                </tbody>
                </table>
                <h1 id="results">Results for today NMF: </h1>
                <table id="tblProgs2" class="table table-bordered table-hover table-striped dataTable">
                        <thead>
                            <tr>
                                
                        </tr>
                        </thead>
                        <tbody>
        
                        </tbody>
                </table>
        
            </div>
        </div>
    </div>

</div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $("#testbutton").click(function() {
        $.ajax({
            url: 'https://pysrv.eu-de.mybluemix.net/',
            dataType: 'json',
            success: function(data) {
                $("#tblProgs1").empty();
                for (var i in data.clusters) {
                    $("#tblProgs1").append('<tr><th width="30%" style = "font-size:14px">Theme of the day '+(parseInt(i)+1)+'</p>');
                    for(var j in data.clusters[i]) {
                        $("#tblProgs1").append('<th width="15%" style = "font-size:12px">'+data.clusters[i][j]+'</th>');
                    }
                    $("#tblProgs1").append('</tr>');
                }

                $("#tblProgs2").empty();
                for (var i in data.topics) {
                    $("#tblProgs2").append('<tr><th width="30%" style = "font-size:14px">Theme of the day '+(parseInt(i)+1)+'</p>');
                    for(var j in data.topics[i]) {
                        $("#tblProgs2").append('<th width="15%" style = "font-size:12px">'+data.topics[i][j]+'</th>');
                    }
                    $("#tblProgs2").append('</tr>');
                }
            },
             error: function() {
                $("#results").append("error");
                alert('Not good: got an error');
            }
        });
    });
});
</script>

